@font-face {
  font-family: "iconfont"; /* Project id 4184354 */
  src: url('//at.alicdn.com/t/c/font_4184354_n9kszef6nw.woff2?t=1690447295312') format('woff2'),
       url('//at.alicdn.com/t/c/font_4184354_n9kszef6nw.woff?t=1690447295312') format('woff'),
       url('//at.alicdn.com/t/c/font_4184354_n9kszef6nw.ttf?t=1690447295312') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shexiangtou:before {
  content: "\eca5";
}

.icon-qiuzhirenyuan:before {
  content: "\e66d";
}

.icon-tongxunlu:before {
  content: "\e67d";
}

.icon-24gf-calendar:before {
  content: "\eb40";
}

.icon-tianjiawenjian:before {
  content: "\e67e";
}

.icon-qianbao:before {
  content: "\e62f";
}

.icon-percentage-full:before {
  content: "\ea7a";
}

.icon-tubiaozhizuomoban-02:before {
  content: "\e614";
}

.icon-quanbudingdan:before {
  content: "\e601";
}

.icon-xinrenkecheng:before {
  content: "\e604";
}

.icon-xitong:before {
  content: "\e67c";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-huiyuanlibao:before {
  content: "\e651";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-yonghuguanli:before {
  content: "\e60f";
}

.icon-tuichu:before {
  content: "\e60e";
}

.icon-lingdang:before {
  content: "\e600";
}

.icon-24gl-questionCircle:before {
  content: "\e97f";
}

.icon-liebiaofenlei:before {
  content: "\e6b6";
}

.icon-suo:before {
  content: "\e652";
}

.icon-anquan:before {
  content: "\ec4d";
}

.icon-wode:before {
  content: "\e602";
}

.icon-shuben:before {
  content: "\e603";
}

